      _____                    _____                    _____                   _______                   _____          
     /\    \                  /\    \                  /\    \                 /::\    \                 /\    \         
    /::\    \                /::\____\                /::\    \               /::::\    \               /::\    \        
    \:::\    \              /:::/    /               /::::\    \             /::::::\    \             /::::\    \       
     \:::\    \            /:::/    /               /::::::\    \           /::::::::\    \           /::::::\    \      
      \:::\    \          /:::/    /               /:::/\:::\    \         /:::/~~\:::\    \         /:::/\:::\    \     
       \:::\    \        /:::/____/               /:::/__\:::\    \       /:::/    \:::\    \       /:::/__\:::\    \    
       /::::\    \      /::::\    \              /::::\   \:::\    \     /:::/    / \:::\    \     /::::\   \:::\    \   
      /::::::\    \    /::::::\    \   _____    /::::::\   \:::\    \   /:::/____/   \:::\____\   /::::::\   \:::\    \  
     /:::/\:::\    \  /:::/\:::\    \ /\    \  /:::/\:::\   \:::\    \ |:::|    |     |:::|    | /:::/\:::\   \:::\    \ 
    /:::/  \:::\____\/:::/  \:::\    /::\____\/:::/__\:::\   \:::\____\|:::|____|     |:::|____|/:::/  \:::\   \:::\____\
   /:::/    \::/    /\::/    \:::\  /:::/    /\:::\   \:::\   \::/    / \:::\   _\___/:::/    / \::/    \:::\  /:::/    /
  /:::/    / \/____/  \/____/ \:::\/:::/    /  \:::\   \:::\   \/____/   \:::\ |::| /:::/    /   \/____/ \:::\/:::/    / 
 /:::/    /                    \::::::/    /    \:::\   \:::\    \        \:::\|::|/:::/    /             \::::::/    /  
/:::/    /                      \::::/    /      \:::\   \:::\____\        \::::::::::/    /               \::::/    /   
\::/    /                       /:::/    /        \:::\   \::/    /         \::::::::/    /                /:::/    /    
 \/____/                       /:::/    /          \:::\   \/____/           \::::::/    /                /:::/    /     
                              /:::/    /            \:::\    \                \::::/____/                /:::/    /      
                             /:::/    /              \:::\____\                |::|    |                /:::/    /       
                             \::/    /                \::/    /                |::|____|                \::/    /        
                              \/____/                  \/____/                  ~~                       \/____/         
                                                                                                                         

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::: Requirements for theQA Research :::::::::::::::
:::                                                         :::
::: Common Dependencies                                     :::
:::                                                         :::
::: numpy                                                   :::
::: scipy                                                   :::
::: matplotlib                                              :::
:::                                                         :::
::: P-NP Analyzer Specific Dependencies                     :::
::: boto3                                                   :::
::: braket                                                  :::
::: typing-extensions                                       :::                            
:::                                                         :::
::: Biomolecule Quantum Simulation Specific Dependencies    :::
::: numba                                                   ::: 
::: cuda-python                                             :::
:::                                                         :::
::: General Development Tools (Optional)                    :::
::: fastapi                                                 :::
::: uvicorn                                                 :::
::: pytest                                                  :::
::: black                                                   :::
:::                                                         :::
::: Installation                                            :::
::: To install all dependencies, run:                       :::
::: pip install -r requirements.txt                         :::
::::::::::::::: Requirements for theQA Research :::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

         _______                   _____                    _____                _____          
        /::\    \                 /\    \                  /\    \              /\    \         
       /::::\    \               /::\    \                /::\    \            /::\    \        
      /::::::\    \             /::::\    \              /::::\    \           \:::\    \       
     /::::::::\    \           /::::::\    \            /::::::\    \           \:::\    \      
    /:::/~~\:::\    \         /:::/\:::\    \          /:::/\:::\    \           \:::\    \     
   /:::/    \:::\    \       /:::/__\:::\    \        /:::/__\:::\    \           \:::\    \    
  /:::/    / \:::\    \     /::::\   \:::\    \      /::::\   \:::\    \          /::::\    \   
 /:::/____/   \:::\____\   /::::::\   \:::\    \    /::::::\   \:::\    \        /::::::\    \  
|:::|    |     |:::|    | /:::/\:::\   \:::\    \  /:::/\:::\   \:::\____\      /:::/\:::\    \ 
|:::|____|     |:::|____|/:::/  \:::\   \:::\____\/:::/  \:::\   \:::|    |    /:::/  \:::\____\
 \:::\   _\___/:::/    / \::/    \:::\  /:::/    /\::/   |::::\  /:::|____|   /:::/    \::/    /
  \:::\ |::| /:::/    /   \/____/ \:::\/:::/    /  \/____|:::::\/:::/    /   /:::/    / \/____/ 
   \:::\|::|/:::/    /             \::::::/    /         |:::::::::/    /   /:::/    /          
    \::::::::::/    /               \::::/    /          |::|\::::/    /   /:::/    /           
     \::::::::/    /                /:::/    /           |::| \::/____/    \::/    /            
      \::::::/    /                /:::/    /            |::|  ~|           \/____/             
       \::::/____/                /:::/    /             |::|   |                               
        |::|    |                /:::/    /              \::|   |                               
        |::|____|                \::/    /                \:|   |                               
         ~~                       \/____/                  \|___|                               
                                                                                                
